

.sidenav {
    height: 100%;
    /* width: 8%; */
    position: fixed;
    right: 0;
    z-index: 1;
    top: 0;
    /* left: 0; */
    background-color: rgba(179, 174, 174, 0.726);
    overflow-x: visible;
    padding-top: 3%;
  }
  
  .itemMenu{
    margin-left: 3%;
    text-decoration: none;
    display: block;
    width: 60%;
  }
  
  .buttonMenu{
    margin-left: 18%;
  }
  
  button:hover{
    background-color: grey;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  